body {
    font-family: 'Forum', cursive;
    text-align: center;
    font-size: 48pt;
    background-color: #111;
	color: red;
}

img {
    border: solid;
    border-width: 3px;
    border-color: red;
    margin: 25px auto 0;
}

#textDisplay {
    text-shadow: 2px 1px white;
}